<table>
  
    <tr>
        <td>
            <div class="user-name">Машошин Андрей</div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="user-picture">
                <%= image_tag 'avatar.jpg' %>
            </div>
        </td>

        <td id="td_first">
                <%= link_to 'Обо мне', '#', class: 'homepage-link'%><br>
                <%= link_to 'Мои работы', '#', class: 'homepage-link'%><br>
                <%= link_to 'Сделать заказ', '#', class: 'homepage-link'%><br>
                <%= link_to 'Контакты', '#', class: 'homepage-link'%><br>
        </td>
    </tr>

</table>